<% if logged_in? %>
  <% @photos.each do |photo| %>
    <%= link_to(photo) do %>
      <%= photo.id %>
      <%= image_tag photo.image.try!(:thumb) %>
      <%= link_to "Delete",  photo, method: :delete,  class: 'btn btn-danger btn-xs' %>
    <% end %>
  <% end %>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the PhotoList</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>